.contents {
  height: 400px;
  width: 500px;
  margin: 0 auto;
  padding: 0 50px;
  text-align: initial;
  background-color: saddlebrown;
}
.food-show {
  height: 200px;
  background-color: snow;
  border: black solid 2px;
  padding: 5px;
}
.blank {
  height: 100px;
}
.more_list {
  border: rgb(48, 75, 230) solid 2px;
  width: 40px;
  text-align: center;
  margin-top: 5px;
}