.contents {
  height: 400px;
  width: 500px;
  margin: 0 auto;
  padding: 0 50px;
  text-align: initial;
  background-color: saddlebrown;
}
.food-show {
  background-color: snow;
  border: black solid 2px;
}
.blank {
  height: 100px;
}