- if controller_name != 'sessions'
  = link_to "ログインページへ", new_session_path(resource_name), class: 'btn'
  %br/
- if devise_mapping.registerable? && controller_name != 'registrations'
  = link_to "新規登録ページへ", new_registration_path(resource_name), class: 'btn'
  %br/
