.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.header {
  display: flex;
  height: 100px;
  width: 100vw;
  background-color: lime;
  padding: 10px;
  &__name {
    font-size: 50px;
    margin: 0 auto;
  }
  &__lists {
    display: inline-block;
  }
}