.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 130px;
  width: 100vw;
  background-color: limegreen;
  padding: 15px;
  &__title {
    font-size: 50px;
  }
  &__name {
    font-size: 50px;
  }
  &__lists a{
    font-size: 17px;
  }
}