.main_contents {
  background-color: white;
  height: 100vh;
  width: 80vw;
  overflow: scroll;
  height: 700px;
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
.writings {
height: 100vh;
}
.writing {
  margin: 5px;
  padding: 10px;
  background-color: cadetblue;
  border-radius: 30px;
  border: 2px solid black;
}
h3 {
  font-size: 30px;
}
span {
  color: white;
}

.management {
  &__main-contents{
    padding: 10px;
    &__list {
      padding-bottom: 20px;
      h1 {
        font-size: 30px;
      }
      th {
        text-align: center;
        font-size: 20px;
        width: 120px;
        background-color: aqua;
      }
      td {
        font-size: 20px;
        width: 120px;
      }
      .new_register{
        border-radius: 5px;
        display: block;
        background-color: chocolate;
        text-align: center;
        height: 30px;
        width: 80px;
        line-height: 30px;
      }
    }
  }
}

