.main_contents {
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
.writings {
height: 100vh;
}
.writing {
  margin: 5px;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid aqua;
}
h3 {
  font-size: 30px;
}
p {
  font-size: 16px;
}
span {
  color: chocolate;
}

.management {
  &__main-contents{
    padding: 20px;
    &__list {
      padding-bottom: 20px;
      h1 {
        font-size: 30px;
      }
      th {
        text-align: center;
        font-size: 20px;
        min-width: 130px;
        background-color: aqua;
      }
      td {
        text-align: center;
        font-size: 20px;
        min-width: 130px;
      }
      .t-btn{
        border-radius: 5px;
        display: block;
        background-color: chocolate;
        text-align: center;
        height: 30px;
        width: 80px;
        line-height: 30px;
        margin: 2px auto;
      }
      .t-btn:hover{
        color: chocolate;
        background-color: white;
        border: chocolate 1px solid;
      }
    }
    &__tops {
      display: flex;
      justify-content: space-between;
      width: 95%;
      margin: 0 auto;
      &__left {
        width: 40%;
        min-width: 500px;
      }
      &__right {
        width: 40%;
        min-width: 500px;
      }
    }
    &__top-title {
      display: flex;
    }
    &__top-data {
      font-size: 25px;
    }
    .fas {
      padding: 10px 10px 0;
      font-size: 1.5rem;
      color: gray;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      border-bottom: solid 2px aqua;
      padding: 5px;
      font-size: 20px;
      font-weight: 700;
      .low {
        color: red;
      }
      .proper {
        color: blue;
      }
      .over {
        color:red;
      }
    }
  }
}

