.main_contents {
  background-color: white;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background-color: white;
  overflow: scroll;
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
.writings {
height: 100vh;
}
.writing {
  margin: 5px;
  padding: 10px;
  background-color: cadetblue;
  border-radius: 30px;
  border: 2px solid black;
}
h3 {
  font-size: 30px;
}
span {
  color: white;
}

.management {
  &__main-contents{
    padding: 20px;
    &__list {
      padding-bottom: 20px;
      h1 {
        font-size: 30px;
      }
      th {
        text-align: center;
        font-size: 20px;
        min-width: 130px;
        background-color: aqua;
      }
      td {
        text-align: center;
        font-size: 20px;
        min-width: 130px;
      }
      .new_register {
        border-radius: 5px;
        display: block;
        background-color: chocolate;
        text-align: center;
        height: 30px;
        width: 80px;
        line-height: 30px;
      }
      .t-btn{
        border-radius: 5px;
        display: block;
        background-color: chocolate;
        text-align: center;
        height: 30px;
        width: 80px;
        line-height: 30px;
        margin: 2px auto;
      }
    }
    &__tops {
      display: flex;
      justify-content: space-between;
      &__left {
        width: 40%;
      }
      &__right {
        width: 40%;
      }
    }
    &__top {
      display: flex;
      justify-content: space-between;
      border-bottom: solid 2px aqua;
      margin: 5px;
    }
    &__top-title {
    }
    &__top-data {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

