.side_bar {
  max-width: 300px;
  min-width: 200px;
  width: 20vw;
  border-right: solid 1px tomato;
  &__title {
    padding: 8px;
    border-bottom: 1px solid tomato;
  }
  &__lists {
    height: calc(100vh - 120px);
    overflow: scroll;
  }
}
.food-list {
  max-width: 400px;
  min-width: 300px;
  width: 20vw;
  height: 40px;
  border-bottom: solid 1px tomato;
  padding-left: 10px;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.3s;
}

.food-list:hover {
  background-color: tomato;
  transform: translate(10px, 0);
}
.food-list a{
  color: black;
  display: block;
  max-width: 300px;
  min-width: 200px;
  width: 20vw;
  height: 40px;
  overflow: scroll;
}

