.account-page {
  .account-page__inner {
    width: 70vw;
    min-width: 600px;
    max-width: 1200px;
    margin: 60px auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 5px;

    &:after {
      clear: both;
      content: "";
      display: block;
    }
  }
  &__edit {
    width: 70vw;
    margin: 60px auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 5px;
  }
  &__login {
    width: 40vw;
    margin: 60px auto;
    padding: 60px;
    background-color: #fff;
    border-radius: 5px;
  }
  .account-page__header {
    h2 {
      margin-bottom: 10px;
      letter-spacing: 3px;
      font-size: 40px;
      font-weight: 200;
      text-align: center;

      &:after {
        content: '';
        display: block;
        width: 60px;
        margin-top: 5px;
      }
    }

    h5 {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 200;
    }
  }

  .field {
    margin-bottom: 10px;

    .field-label {
      padding: 10px 0;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: 200;

      i {
        font-size: 11px;
      }
    }

    .field-input {
      input {
        width: 100%;
        padding: 10px;
        letter-spacing: 1px;
      }
    }
  }


  input[type='submit'] {
    margin-top: 20px;
    color: #fff;
    background-color: chocolate;
  }

  .field-label {
    .field_with_errors {
      display: inline-block;
      color: chocolate;
      font-weight: 400;
    }
  }

  .field-input {
    .field_with_errors {
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 5px;
        background-color: chocolate;
      }
    }
  }
}
.field-wrapper {
  display: flex;
  .field-left {
  width: 50%;
  padding: 40px;
  }
  .field-right {
  width: 50%;
  padding: 40px;
  }
}

#user_gender {
  height: 30px;
  width: 70px;
}
#user_activity {
  height: 30px;
  width: 100%;
  word-break: normal;
}

#error_explanation {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;

  h2 {
    margin-bottom: 10px;
    color: chocolate;
    font-size: 14px;
  }

  ul {
    margin: 0;
    padding-left: 17px;
    list-style: square;
  }

  li {
    margin: 0;
    padding: 0;
    font-size: 13px;
  }
}
