.main_contents
  .writings
    .writing_calorie
      .writing_title
        %h3 カロリーとは？
      .writing
        %p 
    .writing_carbohydrate
      .writing_title
        %h3 糖質とは？
      .writing
        %p 
    .writing_protein
      .writing_title
        %h3 タンパク質とは？
      .writing
        %p 
    .writing_fat
      .writing_title
        %h3 脂質とは？
      .writing
        %p 