.main_contents
  .writings
    .writing
      .writing__title
        %h3 カロリーとは？
      .writing__content
        %p
          摂取する食物から得られる栄養学的熱量と、運動や基礎代謝によって消費される熱量について適用され、生物が生理的に代謝したエネルギー1カロリーは空気中での酸化反応（燃焼）によって発生した熱量1カロリーと等しいと定義される。
          栄養学ではカロリーを1000倍のキロカロリー kcal（キロカロリー）と表記するのが一般的である。
          カロリーは、生きていくのに必要とするエネルギーのこと。
          %br 
            一日に必要なエネルギー量は、
            %span 「総エネルギー量(kcal)＝ 標準体重(kg) × 生活活動強度指数(kcal)」
            で求められる。
    .writing
      .writing__title
        %h3 糖質とは？
      .writing__content
        %p
          栄養学上は炭水化物は糖質と食物繊維の総称として扱われており、消化酵素では分解できずエネルギー源にはなりにくい食物繊維を除いたものを糖質と呼んでいる。三大栄養素のひとつとして炭水化物の語を用いるときは、主に糖質を指す
          主な役割として脳、身体を動かすエネルギーとして使われる。
          %br 
            %span 1グラムにつき4キロカロリー
            のエネルギーがある。
    .writing
      .writing__title
        %h3 タンパク質とは？
      .writing__content
        %p
          20種類存在するL-アミノ酸が鎖状に多数連結（重合）してできた高分子化合物であり、生物の重要な構成成分のひとつである。
          タンパク質は身体をつくる役割も果たしている。
          %br 
            %span 1グラムにつき4キロカロリー
            のエネルギーがある。
    .writing
      .writing__title
        %h3 脂質とは？
      .writing__content
        %p
          単位重量あたりの熱量が大きく、哺乳類をはじめとして動物の栄養の摂取や貯蔵方法として多く利用されている。
          %br 
            %span 1グラムにつき9キロカロリー
            のエネルギーがある。
    .writing
      .writing__title
        %h3 PFC比とは？
      .writing__content
        %p
        生活習慣病の発症予防とその重症化予防を目的としたエネルギー産生栄養素バランスの目標量の範囲を示したもの。
        %br 
          %span 「たんぱく質（P）：13～20％　脂質（F）：20～30％　炭水化物（C）：50～65％」
          を摂取することがより健康的な食生活とされています。
